.front_body .mypage {
    font-family: "Nanum Gothic";
    font-size: 14px;
    
    width: 100%;
    height: auto;
    
    text-decoration: none;
    color: inherit;
    line-height: 33px;
    
}
.mypage hr{
    height: 1px;
    border-style: solid;
    border-color: var(--header-color);
    margin: 20px 0;
}
.mypage a, ul, li{
    list-style: none;
    color: inherit;
    text-decoration-line: none
}
.mypage_title{
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 15px;
}
.mypage a{
    border-style: solid;
    border-color: var(--header-color);
    color:  var(--text-color);
    border-radius: 12px;
    padding: 10px;

}
.mypage a:hover{
    text-decoration: underline;
    background-color: var(--header-color);
}
.mypage_myid{
    display: block;
    border-style: solid;
    border-color: var(--header-color);
    color:  var(--text-color);
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
}
.mypropile{
    display: block;
    border-style: solid;
    border-color: var(--header-color);
    color:  var(--text-color);
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 20px;
}
.mypropile img{
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}
.mypropile .mypage_msg{
    position:relative;
    width: 300px;
    padding:10px;
    background-color: var(--header-color);
    border-radius: 10px;
    margin-bottom: 15px;
}
.mypropile .mypage_msg::after{
    content:'';
    position:absolute;
    top:-8px;
    left:20%;
    border-bottom:8px solid var(--header-color);
    border-left:17px solid transparent;
    border-right:17px solid transparent;
    transform:translateX(-50%);
}
.myinfo{
    display: flex;
    margin-top: 30px;
    gap: 10px;
}
.myinfo li{
    margin-bottom: 15px;
}
.mypage_button{
    display: block;
    border-style: solid;
    border-width: 2px;
    border-color: var(--header-color);
    background-color: var(--background-color);
    border-radius: 12px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 815px;
}
.mypage_button:hover{
    text-decoration: underline;
    background-color: var(--header-color);
}

.myimg_button_group{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}
.myimg_button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-style: solid;
    border-width: 2px;
    border-color: var(--header-color);
    background-color: var(--background-color);
    border-radius: 12px;
    padding: 10px;
}
.myimg_button:hover{
    text-decoration: underline;
    background-color: var(--header-color);
    cursor: pointer;
}

.mypage_edit{
    border-style: solid;
    border-color: var(--header-color);
    color:  var(--text-color);
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
}
.mypage_edit button{
    border-style: solid;
    border-width: 2px;
    border-color: var(--header-color);
    background-color: var(--background-color);
    border-radius: 12px;
    padding: 5px;
}
.mypage_edit button:hover{
    text-decoration: underline;
    background-color: var(--header-color);
    cursor: pointer;
}

.mypage_delete{
    border-style: solid;
    border-color: var(--header-color);
    color:  var(--text-color);
    border-radius: 12px;
    padding: 20px;
}

#statusMessage{
    position:relative;
    width: 300px;
    height: 40px;
    padding:10px;
    background-color: var(--header-color);
    border-radius: 10px;
    margin-bottom: 15px;
    resize: none;
    color: black;
    border: none;
}

.error {
    color: red;
    font-size: 12px;
}
.error br{
    overflow:hidden;
}