<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOTORI 깨기</title>
    <link href="/static/css/game/index.css" rel="stylesheet">
    <link href="/static/front_image/dotoree.png" rel="icon">
</head>

<body align="center">
    <div id="main"></div>
    <div>
        <img src="/static/front_image/dotoree.png"><br>
        <b>DOTORI 깨기</b><br>
        <button onclick="location.href='/game/info'">게임설명</button><br>
        <button onclick="location.href='/game/play'">게임시작</button><br>
    </div>
</body>

</html>
</body>

</html>