<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body align="center">
    <div id="main" style="margin: 0 auto; background: url(/static/game_image/bg3.jpg); width: 1200px; 
    height: 800px; border: 1px solid black;">
    </div>
    <div style="border: 50px sold black; position: relative; margin-top: -700px; font-size: 70px;">
        <img src="/static/game_image/비행기.png" style="width: 200px; height: 200px;"><br>
        갤러그<br>
        <button onclick="location.href='/game/info'">게임설명</button><br>
        <button onclick="location.href='/game/play'">게임시작</button><br>
        <button onclick="location.href='/'">메인 페이지</button>
    </div>
</body>
</html>
</body>
</html>