<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body align="center">
    <div style="margin-top: 200px;">
        <b>
            1. 방향키로 움직이고 스페이스바를 눌러 총알을 발사하세요.
            <p>
                2. 적은 무작위 위치에서 아래로 일정한 속도로 떨어집니다.
            </p>
            <p>
                3. 적을 죽이면 점수가 1점씩 올라가고 적이 맨 아래까지 도달하면 게임오버입니다.
            </p>
            <p>
                4. 게임에서 얻은 도토리로 아이템을 구매해서 홈페이지를 꾸며보세요!!!
            </p>
            <b style="font-size: 25px;">파이팅!!!!!!!!!!!!</b>
            <p>
                <button onclick="location.href='/game/play'">게임 시작</button>
            </p>
        </b>
    </div>
</body>

</html>