<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/game/info.css" rel="stylesheet">
    <script src="/static/js/top.js"></script> <!-- 사용자thema설정을 위한 js파일 -->
    <script>
        const thema = "<%= thema %>" //사용자 thema변수 저장
        window.onload = () => {
            applyThema(thema) //사용자 thema 설정
        }
    </script>
</head>

<body>
    <div id="main">
        <b>
            1. 방향키로 움직이고 스페이스바를 눌러 도토리를 맞추세요.
            <p>
                2. 도토리가 무작위 위치에서 아래로 일정한 속도로 떨어집니다.
            </p>
            <p>
                3. 도토리를 맞추면 점수가 1점씩 올라가고 도토리가 맨 아래까지 도달하면 게임오버입니다.
            </p>
            <p>
                4. 게임을 통해 얻은 도토리로 아이템을 구매해서 홈페이지를 꾸며보세요!!!
            </p>
            <b>파이팅!!!!!!!!!!!!</b>
            <p>
                <button onclick="location.href='/game/play'"
                    style="border: none; cursor: pointer; background: none; font-size: 25px; font-weight: bold;">게임
                    시작</button>
            </p>
        </b>
    </div>
</body>

</html>