<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>갤러그</title>
    <link href="/static/game_image/비행기.png" rel="icon">
</head>

<body align="center" id="main">
    <%- include ("./result_form") %>
        <script src="/static/js/game.js"></script>
</body>

</html>