<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body id="main">
    <%- include ("./result_form") %>
        <script src="/static/js/game.js"></script>
</body>

</html>