<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOTORI 깨기</title>
    <link href="/static/front_image/dotoree.png" rel="icon">
    <link href="/static/css/game/play.css" rel="stylesheet">
</head>

<body align="center" id="main">
    <div id="test">
    <%- include ("./result_form") %>
        <script src="/static/js/game.js"></script>
    </div>
</body>

</html>