<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Nanum+Gothic&display=swap" rel="stylesheet">
    <script src="/static/js/top.js"></script> <!-- 사용자thema설정을 위한 js파일 -->
    <script>
        const thema = "<%= thema %>" //사용자 thema변수 저장
        window.onload = () => {
            applyThema(thema) //사용자 thema 설정
        }
    </script>
</head>

<body>
    <link href="/static/css/game/game.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/static/js/game/result.js"></script>
    <div id="modal_wrap">
        <div id="first">
            <div id="mainResult">
                <form id="frm" action="/game/update" method="post">
                    <b>
                        <%= name1 %>
                    </b>님의 획득 도토리<br>
                    <b id="a" name="result" value="num"></b><br>
                    <input type="hidden" name="id" value="<%= name %>">
                    <input type="hidden" id="b" name="result" value="num">
                    <button id="button1" type="submit">확인</button>
                </form>
            </div>
        </div>
</body>

</html>