<link href="/static/css/board/reply.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/static/js/board/reply.js"></script>
<div id="modal_wrap">
    <div id="first">
        <div style="width: 250px; margin : 0 auto; padding-top:20px">
            <form id="frm">
                <input type="hidden" readonly id="id" name="id" 
                        value="<%= id %>"><br>
                <input type="hidden" readonly id="reply_group" name="reply_group" 
                        value=" <%= data.WRITE_NO %>"><br>
                <b>답글 작성 페이지</b><hr>
                <b>작성자 : <%= id %></b><hr>
                <!-- <b>제목</b><br>
                <input type="text" name="title" size="30"><hr> -->
                <b>내용</b><br>
                <textarea name="content" rows="5" cols="30"></textarea><hr>
                <button type="button" onclick="rep()">답글</button>
                <button type="button" onclick="reply_hide()">취소</button>
            </form>
        </div>
    </div>
</div>
