<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/static/js/top.js"></script> <!-- 사용자thema설정을 위한 js파일 -->
    <script>
        const thema = "<%= thema %>" //사용자 thema변수 저장
        window.onload = () => {
            applyThema(thema) //사용자 thema 설정
        }
    </script>
</head>
<body>
    <script src="/static/js/board/img_view.js"></script>
    <div id="main" class="content wrap">
        <div style="width: 400px; margin: 0 auto;"></div>
        <h1 style="text-align: center">글 작성</h1>
        <form method="post" action="/board/write" enctype="multipart/form-data">
            <b>카테고리</b><br>
            <select name="category" id="category"> 
                <option value="1">이번주 핫이슈</option>
                <option value="2">맛집&카페 공유</option>
                <option value="3">고민해결</option>
                <option value="4">짤 모음</option>
                <option value="5">노래 추천</option>
            </select><br>
            <b>작성자</b><br>
            <input type="text" name="name" value="<%= username %>" readonly />
            <hr>
            <b>제목</b><br>
            <input type="text" size="50" name="title">
            <hr>
            <b>내용</b><br>
            <textarea name="content" rows="12" cols="50"></textarea>
            <hr>
            <b>이미지 첨부파일</b>
            <input type="file" name="image_file_name" onchange="readURL(this);" />
            <img id="preview" src="#" width="150" height="150" alt="선택된 이미지가 없습니다" />
            <hr>
            <input type="submit" value="글쓰기">
            <input type="button" value="목록보기" onclick="location.href='/board/list'">
        </form>
    </div>
    </div>
</body>

</html>