<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="/static/js/img_view.js"></script>
    <div id="main" class="content wrap">
        <div style="width: 400px; margin: 0 auto;"></div>
        <h1 style="text-align: center">글 작성</h1>
        <form method="post" action="/board/write" enctype="multipart/form-data">
            <selsect name="category" id="category">
                <option value="이번주 핫이슈">이번주 핫이슈</option>
                <option value="맛집&카페">맛집&카페 공유</option>
                <option value="고민해결">고민해결</option>
                <option value="짤 모음">짤 모음</option>
                <option value="노래 추천">노래 추천</option>
            </selsect><br>
            <b>작성자</b><br>
            <input type="text" name="id" value="<%= username %>" readonly /><hr>
            <b>제목</b><br>
            <input type="text" size="50" name="title"><hr>
            <b>내용</b><br>
            <textarea name="content" rows="12" cols="50"></textarea><hr>
            <b>이미지 첨부파일</b>
            <input type="file" name="image_file_name" onchange="readURL(this);"/>
            <img id="preview" src="#" width="150" height="150" alt="선택된 이미지가 없습니다" /><hr>
            <input type="submit" value="글쓰기">
            <input type="button" value="목록보기" onclick="location.href='/board/list'">
        </form>
        </div>"
    </div>
</body>
</html>