/* .register_form 클래스 안에 있는 스타일만 적용되도록 범위 지정 */
:root,
:root.autumn{
    --background-color: #fffdf5; /*기본 배경 컬러*/
    --text-color: #000000; /*기본 전체 텍스트 컬러*/
    --header-color: #fff2d6; /*기본 헤더 컬러*/
    --shadow-color: rgba(0, 0, 0, 0.1); /*기본 헤더 컬러*/
}
:root.pink{
    --background-color: #F8E8EE; /*봄 배경 컬러*/
    --text-color: #000000; /*봄 전체 텍스트 컬러*/
    --header-color: #F2BED1; /*봄 헤더 컬러*/
    --shadow-color: rgba(0, 0, 0, 0.1); /*기본 헤더 컬러*/
}
:root.blue{
    --background-color: #EEF5FF; /*여름 배경 컬러*/
    --text-color: #000000; /*여름 전체 텍스트 컬러*/
    --header-color: #86B6F6; /*여름 헤더 컬러*/
    --shadow-color: rgba(0, 0, 0, 0.1); /*기본 헤더 컬러*/
}
:root.violet{
    --background-color: #F5EFFF; /*겨울 배경 컬러*/
    --text-color: #000000; /*겨울 전체 텍스트 컬러*/
    --header-color: #CDC1FF; /*겨울 헤더 컬러*/
    --shadow-color: rgba(0, 0, 0, 0.1); /*기본 헤더 컬러*/
}
:root.dark{
    --background-color: #222222; /*다크 배경 컬러*/
    --text-color: #ffffff; /*다크 전체 텍스트 컬러*/
    --header-color: #424242; /*다크 헤더 컬러*/
    --shadow-color: rgba(253, 253, 253, 0.445); /*기본 헤더 컬러*/
}
/* 전체 스타일 리셋 */
#idview * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;  /* html과 body의 높이를 100%로 설정 */
}

body {
    font-family: "Nanum Gothic";
    height: 100%; /* body의 높이를 100%로 설정하여 화면 전체를 차지하도록 */
}

#idview {
    display: flex;
    justify-content: center;  /* 가로 중앙 정렬 */
    align-items: center;      /* 세로 중앙 정렬 */
    height: 100%;             /* 화면의 100% 높이를 채우도록 설정 */
    padding: 20px;
}

#idview #main {
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 6px 12px var(--shadow-color);
    text-align: center;
    max-width: 500px;
    width: 100%;

}

#idview h1 {
    font-size: 28px;
    color: var(--text-color); /*#000000;*/
    margin-bottom: 20px;
    font-weight: 600;
}

#idview .message {
    font-size: 18px;
    color: var(--text-color); /*#000000;*/
    margin-bottom: 20px;
}

#idview .uid {
    font-size: 22px;
    font-weight: 600;
    color: var(--header-color);
    margin-top: 10px;
    margin-bottom: 30px;
}

#idview a {
    font-size: 16px;
    color: var(--text-color);
    text-decoration: none;
    border: 2px solid var(--header-color);
    padding: 8px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    box-shadow: 2px 3px 0 #bbbbbb85;
}

#idview a:hover {
    background-color: var(--header-color);
    color: var(--text-color);
    box-shadow: 1px 1px 0 #bbbbbb85;
}
