
:root,
:root.brown{
    --background-color: #fffdf5; /*기본 배경 컬러*/
    --text-color: #000000; /*기본 전체 텍스트 컬러*/
    --header-color: #fff2d6; /*기본 헤더 컬러*/
}
:root.pink{
    --background-color: #F8E8EE; /*봄 배경 컬러*/
    --text-color: #000000; /*봄 전체 텍스트 컬러*/
    --header-color: #F2BED1; /*봄 헤더 컬러*/
}
:root.blue{
    --background-color: #EEF5FF; /*여름 배경 컬러*/
    --text-color: #000000; /*여름 전체 텍스트 컬러*/
    --header-color: #86B6F6; /*여름 헤더 컬러*/
}
:root.violet{
    --background-color: #F5EFFF; /*겨울 배경 컬러*/
    --text-color: #000000; /*겨울 전체 텍스트 컬러*/
    --header-color: #CDC1FF; /*겨울 헤더 컬러*/
}
:root.dark{
    --background-color: #222222; /*다크 배경 컬러*/
    --text-color: #ffffff; /*다크 전체 텍스트 컬러*/
    --header-color: #424242; /*다크 헤더 컬러*/
}
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav_bar ul li{
    list-style: none;
}
.front_body{
    display: grid;
    margin: 0 20%;
    background-color: var(--background-color); /* #fffdf5;*/
    padding: 0;
    grid-template-areas:
        'header header'
        'nav section'
        'footer footer';
    grid-template-columns: 150px 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
    width: 1fr;
    height: 100vh;
    
}
.front_body > header{
    background-color: var(--header-color); /*#fff2d6;*/
    border-radius: 10px;
    justify-items: center;
    display: grid;
    grid-template-areas:
        'mainlogo'
        'login';
    grid-template-columns: 1ft auto;
    grid-template-rows: auto;
    grid-area: header;
    top: 0;
    z-index: 1;
    width: 100%;
    padding: 16px;
    color: var(--text-color); /*#000000;*/
}
.header_h1{
    /*background-color: #cfcfcf;*/
    align-self: center;
    grid-area: mainlogo;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0px;
    line-height: 0.5;
    font-family: "Bungee";
    font-size: 50px;
    font-weight: 100;
}
.dotori_img{
    align-items: center;
    width: 40px;
    height: 50px;
    transform: rotate(30deg);
    margin: 0;
    cursor: pointer;

}
.header_h4{
    /*background-color: #cfcfcf;*/
    grid-area: login;
    align-self: center;
    justify-self: end;
    display: flex;
    font-family: "Nanum Gothic";
    font-size: 13px;
}
.header_h4 > a{
    text-decoration: none;
    color: inherit;
}

.nav_bar{
    /*background-color: #b17902;*/
    grid-area: nav;
    
}
.nav_bar ul li button{
    background: transparent;
    border: 0;
    cursor: pointer;
    padding: 8%;
    width: 100%;
    transition: 0.2s;
    font-family: "Nanum Gothic";
    font-size: 15px;
    color: var(--text-color);
}
.nav_bar ul li button:hover{
    background-color: var(--header-color);
    border-width: 0 0 1px;
    border-radius: 10px;
}

.front_body > section{
    /*background-color: #645e4f;*/
    grid-area: section;
    display: grid;
    grid-template-rows: 1fr 9fr;
    gap: 10px;
    min-height: 600px;

}
.story{
    background-color: #dadada;
    border-radius: 10px;
}
.main_section{
    background-color: #dadada;
}

.front_body > footer{
    /*background-color: #b9b9b9;*/
    grid-area: footer;
    bottom: 0;
    font-family: "Nanum Gothic";
    color: var(--text-color);
    
    
}
.footerline{
    width: 100%;
    height: 1px;
    background-color: #000000;
}

.footer_set{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer_info{
    display: flex;
    flex-direction: column;
    margin: 30px 10px;
}
.footer_top{
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: lighter;
    font-weight: bold;
}
.footer_body{
    font-weight: lighter;
    font-size: 13px;
    line-height: 25px;
}
.footer_addr{
    font-weight: lighter;
    font-size: 11px;
    line-height: 25px;
    color: #707070;
    margin-left: 0;
}
.footer_button{
    font-weight: lighter;
    font-size: 13px;
    line-height: 25px;
    cursor: pointer;
}
.footer_button:hover{
    font-weight: bold;
    
}

.footer_members{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.footer_member{
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}
.footer_name{
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: lighter;
}
.footer_part{
    font-weight: lighter;
    font-size: 13px;
    line-height: 25px;
    margin-bottom: 50px;
    
}
.top{
    position: relative;
    left: 105%;
    top: -40px;
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 100%;
    border-style: solid;
    border-width: 3px;
    border-color: var(--header-color);
    color: var(--text-color);
    justify-content: center;
    align-items: center;
    font-size: 12px;
    scroll-behavior: smooth;
}
.top:hover{
    background-color: var(--header-color);
    cursor: pointer;
}
