
:root,
:root.brown{
    --background-color: #fffdf5; /*기본 배경 컬러*/
    --text-color: #000000; /*기본 전체 텍스트 컬러*/
    --header-color: #fff2d6; /*기본 헤더 컬러*/
}
:root.pink{
    --background-color: #F8E8EE;
    --text-color: #000000;
    --header-color: #F2BED1;
}
:root.blue{
    --background-color: #EEF5FF;
    --text-color: #000000;
    --header-color: #86B6F6;
}
:root.violet{
    --background-color: #F5EFFF;
    --text-color: #000000;
    --header-color: #CDC1FF;
}
:root.dark{
    --background-color: #222222;
    --text-color: #ffffff;
    --header-color: #424242;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav_bar ul li{
    list-style: none;
}
.front_body{
    display: grid;
    margin: 0 auto;
    padding: 0;
    width: 1060px;
    background-color: var(--background-color);
    grid-template-areas:
        'header header'
        'nav section'
        'footer footer';
    grid-template-columns: 150px 900px;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
}
.front_body > header{
    background-color: var(--header-color);
    border-radius: 10px;
    justify-items: center;
    display: grid;
    grid-template-areas:
        'mainlogo'
        'login';
    grid-template-columns: 1ft auto;
    grid-template-rows: auto;
    grid-area: header;
    top: 0;
    padding: 16px;
    color: var(--text-color);
}
.header_h1{
    align-self: center;
    grid-area: mainlogo;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 0.5;
    font-family: "Bungee";
    font-size: 50px;
    font-weight: 100;
}
.dotori_img{
    align-items: center;
    width: 40px;
    height: 50px;
    transform: rotate(30deg);
    margin: 0;
    cursor: pointer;
}
.header_h4{
    grid-area: login;
    align-self: center;
    justify-self: end;
    display: flex;
    font-family: "Nanum Gothic";
    font-size: 13px;
}
.header_h4 > a{
    text-decoration: none;
    color: inherit;
}
.nav_bar{
    grid-area: nav;
}
.nav_bar button.active {
    background-color: var(--header-color);
    border-radius: 10px;
    color: var(--text-color);
}
.nav_bar ul li button, .menu_label {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 12px;
    width: 150px;
    transition: 0.2s;
    font-family: "Nanum Gothic";
    font-size: 15px;
    font-weight: normal;
    color: var(--text-color);
    display: block;
    text-align: center;
}
.nav_bar ul li button:hover, .menu_label:hover{
    background-color: var(--header-color);
    border-radius: 10px;
}
.menu_checkbox{
    display: none;
}
.sub_menu{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}
.menu_checkbox:checked + .menu_label + .sub_menu{
    border-style: solid;
    border-color: var(--header-color);
    border-radius: 12px;
    display: block;
    max-height: 500px;
}
.front_body > section{
    grid-area: section;
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 10px;
    min-height: 600px;
    
}
.story {
    border-radius: 10px;

    height: 100px;
    position: relative;
    overflow: hidden;
    border-style: solid; 
    border-color: var(--header-color);
}
.main_section{
    background-color: #dadada;
}
.front_body > footer{
    grid-area: footer;
    bottom: 0;
    font-family: "Nanum Gothic";
    color: var(--text-color);
}
.footerline{
    height: 1px;
    background-color: #000000;
}
.footer_set{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer_info{
    display: flex;
    flex-direction: column;
    margin: 30px 10px;
}
.footer_top{
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
}
.footer_body{
    font-size: 13px;
    line-height: 25px;
}
.footer_addr{
    font-size: 11px;
    line-height: 25px;
    color: #707070;
}
.footer_button{
    font-size: 13px;
    line-height: 25px;
    cursor: pointer;
}
.footer_button:hover{
    font-weight: bold;
}
.footer_members{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer_member{
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}
.footer_name{
    margin-bottom: 10px;
    font-size: 15px;
}
.footer_part{
    font-size: 13px;
    line-height: 25px;
    margin-bottom: 50px;
}
.top{
    position: relative;
    left: 1060px;
    top: -40px;
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 100px;
    border-style: solid;
    border-width: 3px;
    border-color: var(--header-color);
    color: var(--text-color);
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
.top:hover{
    background-color: var(--header-color);
    cursor: pointer;
}


