#main {
    width: 730px;
    height: 600px;
    text-align: center;
    color: var(--text-color);

    &>table {
        text-align: center;
        margin: 0px auto;
        border-color: var(--header-color);
        border-collapse: collapse;
        border-radius: 30px;
        overflow: hidden;
        margin-top: 70px;
    }
}

#form1 {
    margin-top: 50px;
    text-align: center;

    &>button {
        background: var(--header-color);
        font-size: 25px;
        font-weight: bold;
        cursor: pointer;
        border: none;
        font-family: "Nanum Gothic";
    }
}

#button3 {
    background: var(--header-color);
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 30px;
    border: none;
    font-family: "Nanum Gothic";
}