<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOTORI</title>
    <link rel="icon" href="/static/front_image/dotoree.png" image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Russo+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Nanum+Gothic&family=Russo+One&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/css/front/header.css">
</head>

<body>
    <header>
        <%-include('include /header.ejs')%>
            </nav>
            <section>
                <div class="story">스토리</div>
                <div class="main_section">본문</div>
            </section>
            <footer>
                <%-include('include /footer.ejs')%>
            </footer>
</body>
<script>
    const setTheme = theme => document.documentElement.className = theme;
</script>

</html>