<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <title>Document</title>
    <style>
        
    </style>
</head>
<body>
    <div id="modal_wrap">
        <div id="purchase">
            <div id="guid">
                <h3>구매하시겠습니까?</h3><br><br>
                현재 <img src="/static/front_image/dotoree.png"> : <%= uDotori %><br><br>
                필요한 <img src="/static/front_image/dotoree.png"> : <span id="price"></span><br><br>
                <h3 id="noDotori"></h3>
                <button id="yes"></button>
                <button id="no" onclick="choice_hide()"></button>
                
            </div>
        </div>
    </div>
    
</body>
</html>