<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <% themaList.forEach(t => { %>
                <td>
                    <% for(let i = 0; i < 3; i++){ %>
                        <a href="/product/sample?thema=<%= t.path %>">
                            <img src="/product/load?thema=<%= t.path %>" width="100px" height="100px"><br>
                            <%= t.name %>
                        </a>
                        <% i++ %>
                    <% } %>
                </td>
            <% }) %>
        </tr>
    </table>
</body>
</html>