<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOTORI</title>
    <link rel="icon" href="/static/front_image/dotoree.png"image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Russo+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Nanum+Gothic&family=Russo+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/front/front.css">
    <link rel="stylesheet" type="text/css" href="/static/css/product/list.css"> 
    <link rel="stylesheet" type="text/css" href="/static/css/product/present.css"> 
    <script src="/static/js/top.js"></script>
    <script src="/static/js/product/product.js"></script>
    <script>
        const thema = "<%= thema %>";
        window.onload = async () => {
            await applyThema(thema)
        }
        let num = 0
        const up5 = () => {
            num = num + 5
            document.getElementById("dotori").value = num
        }
        const up10 = () => {
            num = num + 10
            document.getElementById("dotori").value = num
        }
        const up100 = () => {
            num = num + 100
            document.getElementById("dotori").value = num
        }
        const resetDotori = () => {
            num = 0
            console.log(num)
            document.getElementById("dotori").value = num
        }
     </script>
</head>
<body class="front_body">

    <%- include('../include/header.ejs') %>
    
    <section>
        <form action="/present/check" method="post">
            <div id="present">
                <table>
                    <tr>
                        <td>
                            <img src="/static/front_image/dotoree.png" id="preDotori">
                            <input type="number" id="dotori" name="dotori" value="0"></input>
                        </td>
                        <td id="prebtn">
                            <button type="button" onclick="up5()">+5</button><br>
                            <button type="button" onclick="up10()">+10</button><br>
                            <button type="button" onclick="up100()">+100</button><br>
                            <button type="button" onclick="resetDotori()">reset</button><br>
                        </td>
                    </tr>
                </table>
                <div id="guid">
                    받는 사람<br>
                    <input id="transmit" name="transmit"><br>
                    전송 메세지<br>
                    <textarea id="msg" name="msg"></textarea><br>
                    <button>보내기</button>
                </div>
                
            </div>
        </form>
    </section>

    <%-include('../include/footer.ejs')%>
</body>
</html>