.list {
    width: 100%;
    height: 500px;
    
}
.index {
    height: 50%;
    text-align: center;
    vertical-align: middle;
    font-family: "Nanum Gothic";
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 3%;
    color: var(--text-color);

    & > .sample {
        width: 45%;
        height: auto;
    }
    & > .dotori {
        width: 8%;
        height: auto;
        transform: rotate(30deg);
    }
    & > button {
        height: 30px;
        width: 80px;
        margin-top: 10px;
        visibility: hidden;
        opacity: 1;  /* 기본적으로 흐려지지 않게 설정 */
        background-color: var(--header-color);  /* 비활성화된 버튼 배경색 */
        color: var(--text-color);             /* 비활성화된 버튼 글자색 */
        border-radius: 12px;
        border: 5px solid var(--header-color);;  /* 비활성화된 버튼 테두리 색 */
        cursor: pointer;     /* 마우스 커서를 '허용되지 않음'으로 변경 */
        font-size: 15px;
        font-family: "Nanum Gothic";
        font-weight: bold;
    }
}

/* 구매창 css */
#modal_wrap{
    display: none;
    position: fixed;
    z-index: 9;
    margin: 0 auto; top: 0; left: 0; right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
#purchase{
    display: none;
    border-radius: 30px;
    position: fixed;
    z-index: 10;
    margin: 0 auto; top:  200px; left: 0; right: 0;
    width: 350px;
    height: 360px;
    background-color: var(--header-color)
}
#guid{
    width: 250px; 
    margin: 0 auto; 
    padding-top: 20px; 
    text-align: center;
    font-family: "Nanum Gothic";
    font-size: 20px;
    font-weight: bold;
    & > img {
        margin-left: 10px;
        width: 20px;
        transform: rotate(30deg);
    }
    & > button {
        height: 35px;
        margin-top: 40px;
        padding-left: 7px;
        padding-right: 7px;
        background-color: var(--background-color);  /* 비활성화된 버튼 배경색 */
        color: var(--text-color);             /* 비활성화된 버튼 글자색 */
        border-radius: 12px;
        border: 5px solid var(--background-color);;  /* 비활성화된 버튼 테두리 색 */
        cursor: pointer;     /* 마우스 커서를 '허용되지 않음'으로 변경 */
        font-size: 15px;
        font-family: "Nanum Gothic";
        font-weight: bold;
    }
}
#noDotori {
    margin-top: 10px;
    color: red;
}