.board_main {
    border-collapse: collapse;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color:  var(--text-color);
    font-family: "Nanum Gothic";
    font-size: 15px;
}

.board_menu {
    font-weight: bold;
    text-align: center;
}
.board_main tr {
    border-bottom: 1px solid var(--header-color);
}
.board_main td, .board_main th {
    padding: 8px;
}
.board_num {
    width: 50px;
    text-align: center;
}
.board_title {
    width: 300px;
}
.board_id {
    width: 80px;
}
.board_name {
    width: 80px;
}
.board_date {
    width: 50px;
}
.board_hit {
    width: 50px;
}
.board_list_title{
    text-decoration: none;
    color: inherit;
}
.board_list_title:hover{
    text-decoration: underline;
}
.board_list_num{
    text-align: center;
}
.board_list_id {
    text-align: center;
}
.board_list_name {
    text-align: center;
}
.board_list_date {
    text-align: center;
}
.board_list_hit {
    text-align: center;
}
.board_page{
    color: var(--text-color);
    font-family: "Nanum Gothic";
    font-size: 13px;
    position: absolute; /* section 안에서 절대 위치로 설정 */
    bottom: -80px; /* section의 맨 아래로 고정 */
    left: 80px;
    width: 800px; /* 테이블이 section 너비에 맞게 확장되도록 설정 */
}
.board_page a{
    
}
.board_button{
    display: block;
    margin-left: 300px;
    color:  var(--text-color);
    font-family: "Nanum Gothic";
    font-size: 13px;
    width: auto;
}
.board_button button{
    background-color: transparent;
}
.board_page .board_button button,
.board_page a {
    font-size: 13px;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}
.board_page .board_button button:hover,
.board_page a:hover {
    text-decoration: underline;
}
.board_page a {
    margin: 0 10px;

}

.board_new{
    font-family: "Nanum Gothic";
    font-size: 13px;
    margin-top: 10px;
    display: flex;
    text-decoration: none;
    width: 60px;
    height: 32px;
    border-radius: 100px;
    background-color: var(--header-color);
    color: var(--text-color);
    justify-content: center;
    align-items: center;
    box-shadow: 2px 3px 0 #bbbbbb85;
    text-align: center;
    margin-left: 750px;
    position: relative;
    top: -35px;
}
.board_new:active{
    box-shadow: 1px 1px 0 #bbbbbb85;
}
.board_new:hover{
    text-decoration: underline;
}
