<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body align="center">
    <% if(!username) { %>
        <script>
            alert("로그인 이후 사용가능합니다!!!!")
            location.href = '/member/login_form'
        </script>
        <% } %>
            <%- include ("./insert_form") %>
                <table align="center" border="1">
                    <tr>
                        <th>ID</th>
                        <th>NAME</th>
                    </tr>
                    <% result.forEach (data=>{ %>
                        <% if( username!=data.ID){ %>
                            <tr>
                                <td>
                                    <%= data.ID %>
                                </td>
                                <td>
                                    <%= data.NAME %>
                                </td>
                                <td>
                                    <button onclick="insert_form()">친구 추가</button>
                                </td>
                            </tr>
                            <% } %>
                                <% }) %>
                </table>
</body>

</html>