<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOTORI</title>
    <link rel="icon" href="/static/front_image/dotoree.png" image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Russo+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Nanum+Gothic&family=Russo+One&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/css/front/front.css">
</head>

<body class="front_body">
    <% if(!username) { %>
        <script>
            alert("로그인 이후 사용가능합니다!!!!");
            location.href = '/member/login_form';
        </script>
        <% } %>
        <%- include('../include/header.ejs')%>

            <section>
                <%- include("./list1.ejs") %>
            </section>

                <%- include('../include/footer.ejs')%>
</body>
<script>
    const setTheme = theme => document.documentElement.className = theme;
    function scrollToTop() {
    window.scrollTo({
        top: 0,
        behavior: 'smooth'
    });
}
</script>

</html>