<h1>
    <div class="footerline"></div>
    footer
    
</h1>
<div class="theme">
    <input type="radio" name="theme" class="theme-btn pink" onclick="setTheme('pink')" title="pink mode"><p>pink</p>
    <input type="radio" name="theme" class="theme-btn blue" onclick="setTheme('blue')" title="blue mode"><p>blue</p>
    <input type="radio" name="theme" class="theme-btn autumn" onclick="setTheme('autumn')" title="autumn mode"><p>autumn</p>
    <input type="radio" name="theme" class="theme-btn violet" onclick="setTheme('violet')" title="violet mode"><p>violet</p>
    <input type="radio" name="theme" class="theme-btn dark" onclick="setTheme('dark')" title="dark mode"><p>dark</p>
</div>