<h1>
    <div class="footerline"></div>
    footer
    
</h1>
<div class="theme">
    <input type="radio" name="theme" class="theme-btn spring" onclick="setTheme('spring')" title="spring mode"><p>spring</p>
    <input type="radio" name="theme" class="theme-btn summer" onclick="setTheme('summer')" title="summer mode"><p>summer</p>
    <input type="radio" name="theme" class="theme-btn autumn" onclick="setTheme('autumn')" title="autumn mode"><p>autumn</p>
    <input type="radio" name="theme" class="theme-btn winter" onclick="setTheme('winter')" title="winter mode"><p>winter</p>
    <input type="radio" name="theme" class="theme-btn dark" onclick="setTheme('dark')" title="dark mode"><p>dark</p>
</div>