<header>
    <h1 class="header_h1"><img class="dotori_img" src="/static/front_image/dotoree.png"
            onclick="location.href='/main'"><br>DOTORI</h1>
    <h4 class="header_h4">
        <a href="/member/login_form" id="login">로그인</a>
        &nbsp; / &nbsp;
        <a href="/member/register_form" id="signup">회원가입</a>
    </h4>
</header>

<nav class="nav_bar">
    <ul>
        <li>
            <button>사진</button>
        </li>
        <li>
            <button>썰</button>
        </li>
        <li>
            <button>쇼핑몰</button>
        </li>
    </ul>
    <ul>
        <li>
            <button onclick="location.href='/game'">미니게임</button>
        </li>
    </ul>
    <ul>
        <li>
            <button>마이페이지</button>
        </li>
    </ul>
</nav>