<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀 번호찾기</title>
    <link rel="stylesheet" href="/static/css/member/pwdsearchForm.css">
    <!-- 아이콘 및 폰트 링크 -->
    <link rel="icon" href="/static/front_image/dotoree.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Russo+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Nanum+Gothic&family=Russo+One&display=swap" rel="stylesheet">
    <!-- front.css 추가 (헤더 등 공통 스타일을 위한 링크) -->
    <link rel="stylesheet" href="/static/css/front/front.css">
    <script src="/static/js/top.js"></script> <!-- 사용자thema설정을 위한 js파일 -->
    <script>
        const thema = "<%= thema %>" //사용자 thema변수 저장
        window.onload = () => {
            applyThema(thema) //사용자 thema 설정
        }
    </script>
</head>

<body class="front_body">

    <%- include('../include/header.ejs') %>

        <!-- 아이디 찾기 폼 -->
        <section id="pwdsearchform">
            <div id="main">
                <form action="/member/send-email" method="post">
                    <!-- 숨은 필드로 uid 값 추가 -->
                    <input type="hidden" name="uid" value="<%= uid %>"> <!-- 여기서 uid 값을 EJS로 전달 -->

                    <!-- 이메일 입력 -->
                    <div class="form-group">
                        <label for="email" aria-hidden="true">인증할 이메일 입력</label>
                        <input type="text" id="email" name="email" required placeholder="이메일을 입력하세요">
                    </div>
                    <!-- 로그인 버튼 -->
                    <div class="form-group">
                        <input type="submit" value="이메일 인증">
                    </div>
                </form>
            </div>
        </section>

        <%- include('../include/footer.ejs') %>

</body>

</html>