:root,
:root.autumn {
    --background-color: #fffdf5;
    /*기본 배경 컬러*/
    --text-color: #000000;
    /*기본 전체 텍스트 컬러*/
    --header-color: #fff2d6;
    /*기본 헤더 컬러*/
}

:root.spring {
    --background-color: #ffebeb;
    /*봄 배경 컬러*/
    --text-color: #000000;
    /*봄 전체 텍스트 컬러*/
    --header-color: #ffbce5;
    /*봄 헤더 컬러*/
}

:root.summer {
    --background-color: #eef6ff;
    /*여름 배경 컬러*/
    --text-color: #000000;
    /*여름 전체 텍스트 컬러*/
    --header-color: #9cbfff;
    /*여름 헤더 컬러*/
}

:root.winter {
    --background-color: #f9ebff;
    /*겨울 배경 컬러*/
    --text-color: #000000;
    /*겨울 전체 텍스트 컬러*/
    --header-color: #cdadff;
    /*겨울 헤더 컬러*/
}

:root.dark {
    --background-color: #525252;
    /*다크 배경 컬러*/
    --text-color: #ffffff;
    /*다크 전체 텍스트 컬러*/
    --header-color: #111111;
    /*다크 헤더 컬러*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

body {
    display: grid;
    margin: 0 20%;
    background-color: var(--background-color);
    padding: 0;
    grid-template-areas:
        'header header'
        'nav section'
        'footer footer';
    grid-template-columns: 150px 80%;
    grid-template-rows: auto 83vh auto;
    gap: 10px;
    height: 300px;
}

header {
    background-color: var(--header-color);
    border-radius: 10px;
    justify-items: center;
    display: grid;
    grid-template-areas:
        'mainlogo'
        'login';
    grid-template-columns: 1ft auto;
    grid-template-rows: auto;
    grid-area: header;
    top: 0;
    z-index: 1;
    width: 100%;
    padding: 16px;
    color: var(--text-color);
}

.header_h1 {
    align-self: center;
    grid-area: mainlogo;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0px;
    line-height: 0.5;
    font-family: "Bungee";
    font-size: 50px;
    font-weight: 100;
}

img {
    align-items: center;
    width: 40px;
    height: 50px;
    transform: rotate(30deg);
    margin: 0;
    cursor: pointer;
}

.header_h4 {
    grid-area: login;
    align-self: center;
    justify-self: end;
    display: flex;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    grid-area: nav;
}

button {
    background: transparent;
    border: 0;
    cursor: pointer;
    padding: 8%;
    width: 100%;
    transition: 0.2s;
    font-family: "Nanum Gothic";
    font-size: 15px;
    color: var(--text-color);
}

section {
    grid-area: section;
    display: grid;
    grid-template-rows: 1fr 9fr;
    gap: 10px;
}

.story {
    background-color: #dadada;
    border-radius: 10px;
}

.main_section {
    background-color: #dadada;
}

footer {
    grid-area: footer;
    bottom: 0;
}

.footerline {
    width: 100%;
    height: 1px;
    background-color: #000000;
}

footer>.theme {
    display: flex;
    gap: 10px;
}