#modal_wrap {
    display: block;
    position: fixed;
    z-index: 9;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

#first {
    display: block;
    position: fixed;
    z-index: 10;
    margin: 0 auto;
    top: 30px;
    left: 0;
    right: 0;
    width: 300px;
    height: 200px;
    background-color: #fff2d6;
    margin-top: 200px;
    color: gold;
}