#main {
    margin: 0 auto;
    width: 730px;
    height: 600px;
}

#main2 {
    text-align: center;
    margin: 0 auto;
    position: relative;
    margin-top: -600px;
    font-size: 70px;

    &>img {
        width: 200px;
        height: 200px;
    }

    &>button {
        color: gold;
    }
}