#main {
    margin: 0 auto;
    width: 730px;
    height: 600px;
}

#main2 {
    text-align: center;
    margin: 0 auto;
    position: relative;
    margin-top: -600px;
    font-size: 70px;
    color: var(--text-color);

    &>img {
        width: 200px;
        height: 200px;
        margin-top: 100px;
    }

    &>button {
        cursor: pointer;
        background: var(--header-color);
        font-size: 25px;
        font-weight: bold;
    }
}