#main {
    margin: 0 auto;
    text-align: center;
    width: 730px;
    height: 600px;
    line-height: 90px;

    &>b>b {
        font-size: 25px;
    }

    &>b>p>button {
        color: gold;
    }
}